<mat-toolbar color="primary">
  <span>PWS by RGS oftware</span>
  <span class="spacer"></span>
  <button mat-raised-button color="accent" (click)="openCreateDialog()">Create Entry</button>
</mat-toolbar>

<div class="container">
  <div class="search-bar">
    <mat-form-field appearance="fill" class="search-field">
      <mat-label>Search by</mat-label>
      <mat-select [formControl]="searchField">
        <mat-option value="passportNo">Passport No.</mat-option>
        <mat-option value="name">Name</mat-option>
        <mat-option value="date">Date (yyyy-mm-dd)</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="search-input">
      <mat-label>Search term</mat-label>
      <input matInput [formControl]="searchTerm" placeholder="Type to search" />
    </mat-form-field>
  </div>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Passport No Column -->
    <ng-container matColumnDef="passportNo">
      <th mat-header-cell *matHeaderCellDef> Passport No. </th>
      <td mat-cell *matCellDef="let element"> {{element.passportNo}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Date Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Date </th>
      <td mat-cell *matCellDef="let element"> {{element.date | date:'mediumDate'}} </td>
    </ng-container>

    <!-- Commodity Column -->
    <ng-container matColumnDef="commodity">
      <th mat-header-cell *matHeaderCellDef> Commodity </th>
      <td mat-cell *matCellDef="let element"> {{element.commodity}} </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let element"> <button (click)="openDeleteDialog(element)" mat-flat-button
          color="warn">Delete</button></td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons></mat-paginator>
</div>